<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.otassistant" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>

    <application
        android:name=".global.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".activities.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activities.DashboardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activities.Splash_Blood_compatibility"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activities.RequestBloodLast"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".activities.Select_blood_group"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activities.Request_Blood"
            android:configChanges="keyboardHidden|orientation|screenSize">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.Select_blood_group"></meta-data>
        </activity>

        <activity
            android:name=".activities.Donate_Blood_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize">

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.DashboardActivity"></meta-data>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_place_api"></meta-data>
        </activity>
    </application>

</manifest>